.paper{
    max-width: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addtodo{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.button{
    margin-right: 25px !important;
}