.paper{
    min-width: 50%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #626dbb !important;
    padding: 10px;
    /* Center paper */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
}

.todopaper{
    background-color:#757de8 !important;
}

.addtodo{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 80%;
}

.button{
    margin-right: 25px !important;
}