.paper{
    min-width: 50%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #494949 !important;
    /* Center paper */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addtodo{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.button{
    margin-right: 25px !important;
}